*{
    margin: auto
    padding 50px;;
    
}
.image-put img{
    width: 900px;
    height: 700px;
    object-fit: cover;
}
.container{
    display: flex;
    height: 100vh;
}
.right-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 15px;
    
}
#simon{
    color: blue;
}